/* CSS (Cascading Style Sheets) é uma linguagem de estilo utilizada para definir a aparência e o layout de um documento HTML.
 Com CSS, é possível definir cores, fontes, tamanhos, espaçamento, posicionamento e outros aspectos visuais de um site. */
 h1, h2, p {
    text-align: center; /* tem o obejetivo de deixa os elemtnos h1,h2 e p centralizado na pagina */ 
  }
  
  body {
    /* o background aqui tem a função de pega uma imagem do link e coloca no corpo da pagina. */
    background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg) ;
  }
  /* Classe em Css são usado para agrupar ementos e aplicar esses estilos no HTML, em varios pontos sem precisar repitir varias vezes o mesmo codigo.*/
  .menu {
      width: 80%; /* Width é usado para definir a porcentagem ou a lagura em px do layout de uma pagina ou bloco */
      /* tem a função de deixa a cor do corpo da pagina. */
      background-color: burlywood;
      margin-left: auto;
      margin-right: auto; 
    }
   /* tem a função de deixa o texto do sabor do cafe na esquerda da pagina*/ 
  .flavor, .dessert {
    width: 75%;
    text-align:left;
    }
  .price{
    width: 25%;
    text-align:right;
  }
  .item p {
    display: inline-block;
}